<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaorange.mapper.TCouponInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yaorange.pojo.TCouponInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="promotion_name" property="promotionName" jdbcType="VARCHAR" />
    <result column="validate_time" property="validateTime" jdbcType="BIGINT" />
    <result column="total_count" property="totalCount" jdbcType="INTEGER" />
    <result column="publish_count" property="publishCount" jdbcType="INTEGER" />
    <result column="left_count" property="leftCount" jdbcType="INTEGER" />
    <result column="promotion_ruleId" property="promotionRuleid" jdbcType="BIGINT" />
    <result column="scope_ruleId" property="scopeRuleid" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, update_time, promotion_name, validate_time, total_count, publish_count, 
    left_count, promotion_ruleId, scope_ruleId, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yaorange.pojo.TCouponInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_coupon_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_coupon_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_coupon_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yaorange.pojo.TCouponInfoExample" >
    delete from t_coupon_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yaorange.pojo.TCouponInfo" >
    insert into t_coupon_info (id, create_time, update_time, 
      promotion_name, validate_time, total_count, 
      publish_count, left_count, promotion_ruleId, 
      scope_ruleId, description)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{promotionName,jdbcType=VARCHAR}, #{validateTime,jdbcType=BIGINT}, #{totalCount,jdbcType=INTEGER}, 
      #{publishCount,jdbcType=INTEGER}, #{leftCount,jdbcType=INTEGER}, #{promotionRuleid,jdbcType=BIGINT}, 
      #{scopeRuleid,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yaorange.pojo.TCouponInfo" >
    insert into t_coupon_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="promotionName != null" >
        promotion_name,
      </if>
      <if test="validateTime != null" >
        validate_time,
      </if>
      <if test="totalCount != null" >
        total_count,
      </if>
      <if test="publishCount != null" >
        publish_count,
      </if>
      <if test="leftCount != null" >
        left_count,
      </if>
      <if test="promotionRuleid != null" >
        promotion_ruleId,
      </if>
      <if test="scopeRuleid != null" >
        scope_ruleId,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="promotionName != null" >
        #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="validateTime != null" >
        #{validateTime,jdbcType=BIGINT},
      </if>
      <if test="totalCount != null" >
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="publishCount != null" >
        #{publishCount,jdbcType=INTEGER},
      </if>
      <if test="leftCount != null" >
        #{leftCount,jdbcType=INTEGER},
      </if>
      <if test="promotionRuleid != null" >
        #{promotionRuleid,jdbcType=BIGINT},
      </if>
      <if test="scopeRuleid != null" >
        #{scopeRuleid,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yaorange.pojo.TCouponInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_coupon_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_coupon_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.promotionName != null" >
        promotion_name = #{record.promotionName,jdbcType=VARCHAR},
      </if>
      <if test="record.validateTime != null" >
        validate_time = #{record.validateTime,jdbcType=BIGINT},
      </if>
      <if test="record.totalCount != null" >
        total_count = #{record.totalCount,jdbcType=INTEGER},
      </if>
      <if test="record.publishCount != null" >
        publish_count = #{record.publishCount,jdbcType=INTEGER},
      </if>
      <if test="record.leftCount != null" >
        left_count = #{record.leftCount,jdbcType=INTEGER},
      </if>
      <if test="record.promotionRuleid != null" >
        promotion_ruleId = #{record.promotionRuleid,jdbcType=BIGINT},
      </if>
      <if test="record.scopeRuleid != null" >
        scope_ruleId = #{record.scopeRuleid,jdbcType=BIGINT},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_coupon_info
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      promotion_name = #{record.promotionName,jdbcType=VARCHAR},
      validate_time = #{record.validateTime,jdbcType=BIGINT},
      total_count = #{record.totalCount,jdbcType=INTEGER},
      publish_count = #{record.publishCount,jdbcType=INTEGER},
      left_count = #{record.leftCount,jdbcType=INTEGER},
      promotion_ruleId = #{record.promotionRuleid,jdbcType=BIGINT},
      scope_ruleId = #{record.scopeRuleid,jdbcType=BIGINT},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaorange.pojo.TCouponInfo" >
    update t_coupon_info
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="promotionName != null" >
        promotion_name = #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="validateTime != null" >
        validate_time = #{validateTime,jdbcType=BIGINT},
      </if>
      <if test="totalCount != null" >
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="publishCount != null" >
        publish_count = #{publishCount,jdbcType=INTEGER},
      </if>
      <if test="leftCount != null" >
        left_count = #{leftCount,jdbcType=INTEGER},
      </if>
      <if test="promotionRuleid != null" >
        promotion_ruleId = #{promotionRuleid,jdbcType=BIGINT},
      </if>
      <if test="scopeRuleid != null" >
        scope_ruleId = #{scopeRuleid,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaorange.pojo.TCouponInfo" >
    update t_coupon_info
    set create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      promotion_name = #{promotionName,jdbcType=VARCHAR},
      validate_time = #{validateTime,jdbcType=BIGINT},
      total_count = #{totalCount,jdbcType=INTEGER},
      publish_count = #{publishCount,jdbcType=INTEGER},
      left_count = #{leftCount,jdbcType=INTEGER},
      promotion_ruleId = #{promotionRuleid,jdbcType=BIGINT},
      scope_ruleId = #{scopeRuleid,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>