<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaorange.mapper.TPayCreditMapper" >
  <resultMap id="BaseResultMap" type="com.yaorange.pojo.TPayCredit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="sso_id" property="ssoId" jdbcType="BIGINT" />
    <result column="business_type" property="businessType" jdbcType="TINYINT" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="business_key" property="businessKey" jdbcType="BIGINT" />
    <result column="business_note" property="businessNote" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="credit_balance" property="creditBalance" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, sso_id, business_type, business_name, business_key, business_note, 
    credit, type, credit_balance
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yaorange.pojo.TPayCreditExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pay_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_pay_credit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_pay_credit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yaorange.pojo.TPayCreditExample" >
    delete from t_pay_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yaorange.pojo.TPayCredit" >
    insert into t_pay_credit (id, create_time, sso_id, 
      business_type, business_name, business_key, 
      business_note, credit, type, 
      credit_balance)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{ssoId,jdbcType=BIGINT}, 
      #{businessType,jdbcType=TINYINT}, #{businessName,jdbcType=VARCHAR}, #{businessKey,jdbcType=BIGINT}, 
      #{businessNote,jdbcType=VARCHAR}, #{credit,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{creditBalance,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yaorange.pojo.TPayCredit" >
    insert into t_pay_credit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="ssoId != null" >
        sso_id,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="businessKey != null" >
        business_key,
      </if>
      <if test="businessNote != null" >
        business_note,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="creditBalance != null" >
        credit_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="ssoId != null" >
        #{ssoId,jdbcType=BIGINT},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=TINYINT},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessKey != null" >
        #{businessKey,jdbcType=BIGINT},
      </if>
      <if test="businessNote != null" >
        #{businessNote,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="creditBalance != null" >
        #{creditBalance,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yaorange.pojo.TPayCreditExample" resultType="java.lang.Integer" >
    select count(*) from t_pay_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_pay_credit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.ssoId != null" >
        sso_id = #{record.ssoId,jdbcType=BIGINT},
      </if>
      <if test="record.businessType != null" >
        business_type = #{record.businessType,jdbcType=TINYINT},
      </if>
      <if test="record.businessName != null" >
        business_name = #{record.businessName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessKey != null" >
        business_key = #{record.businessKey,jdbcType=BIGINT},
      </if>
      <if test="record.businessNote != null" >
        business_note = #{record.businessNote,jdbcType=VARCHAR},
      </if>
      <if test="record.credit != null" >
        credit = #{record.credit,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.creditBalance != null" >
        credit_balance = #{record.creditBalance,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_pay_credit
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      sso_id = #{record.ssoId,jdbcType=BIGINT},
      business_type = #{record.businessType,jdbcType=TINYINT},
      business_name = #{record.businessName,jdbcType=VARCHAR},
      business_key = #{record.businessKey,jdbcType=BIGINT},
      business_note = #{record.businessNote,jdbcType=VARCHAR},
      credit = #{record.credit,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      credit_balance = #{record.creditBalance,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaorange.pojo.TPayCredit" >
    update t_pay_credit
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="ssoId != null" >
        sso_id = #{ssoId,jdbcType=BIGINT},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=TINYINT},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessKey != null" >
        business_key = #{businessKey,jdbcType=BIGINT},
      </if>
      <if test="businessNote != null" >
        business_note = #{businessNote,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="creditBalance != null" >
        credit_balance = #{creditBalance,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaorange.pojo.TPayCredit" >
    update t_pay_credit
    set create_time = #{createTime,jdbcType=BIGINT},
      sso_id = #{ssoId,jdbcType=BIGINT},
      business_type = #{businessType,jdbcType=TINYINT},
      business_name = #{businessName,jdbcType=VARCHAR},
      business_key = #{businessKey,jdbcType=BIGINT},
      business_note = #{businessNote,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      credit_balance = #{creditBalance,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>